table, th, tr, td {
    
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.presenca  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}

radio {
    box-shadow: 2px 1px 5px black;
}
